html {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif
}

.header-section {
    background-color: royalblue;
    min-height: 8vh;
    color: white;
    font-size: medium;
}

.logo {
    height: 20px;
}

section {
    height: 90vh;
    margin: 10px;
}

#hero-section {
    background-color: aqua;
}

.regular-section {
    background-color: aquamarine;
}

#nav-button {
    padding: 10px;
}